Add a Student:<br>
ID: <input type="text" #studentId>
Name: <input type="text" #studentName>
Stream: <input type="text" #studentStream>
<button
  (click)="addStudent(studentId.value, studentName.value, studentStream.value)">
  Add Student</button><br><br>

Displaying the list of Students:
<div>
  <div style="display:flex;">
    <div><b>ID</b></div>
    <div><b>Name</b></div>
    <div><b>Stream</b></div>
  </div>
  <div *ngFor="let student of ((students|async).students)" style="display:flex;">
    <div>{{student.id}}</div>
    <div>{{student.name}}</div>
    <div>{{student.stream}}</div>
  </div>
</div>
